
body, h1 {
    padding-top:20px; padding-bottom: 20px;
    text-align:center;
    }

    
    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }    



    .new-sub-title{
        
      background-image: linear-gradient(to right, #082847, #5C99A5);    

    }

    .new-footer{
        background-image: linear-gradient(to right, #141e30, #243b55);

    }

